*{margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;}

  .navbar{height: 60px;
          background-color: #0f1111;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-evenly; }

  .nav-logo{height: 50px;
            width: 100px;}
        
  .logo{background-image: url(amazon_logo.png);
        background-size: cover;
        height: 50px;
        width: 100px;
        }
  .border{
    border-color: 1.5px  solid transparent;
  }
  .border:hover{ border :1.5px solid white;}
  
   /*box2 */
  
  .add-first{color: #cccc;
             font-size: 0.85rem ;
              margin-left: 15px;}

  .add-second{font-size: 1rem;
              margin-left: 3px;}          

 .add-icon{display: flex;
         align-items: center;}

/*box 3  */
.nav-search{display: flex;
            justify-content: space-evenly;
             background-color: pink;
             border-radius: 4px;
             width: 620px;
            height: 40px}
.nav-search:hover{ 
  border:2px solid orangered
}            

.search-select{text-align: center;
               width: 50px;
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
            background-color: #f3f3f3;
            border: none;}

.search-input{width: 100%;
              border:none;
              font-size: 1.1rem;
              }
              

.search-icon{width: 45px;
             display:flex;
             justify-content: center;
             align-items: center;
             font-size: 1.2rem;
             background-color: rgb(238, 183, 34);
             border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;
}  
/*box 4 */

span{font-size: 0.75rem;}
.nav-second{font: size 1rem;
            font-weight: 700;}

    /*box 5*/

.Rrturn{font-size: 0.75rem;}
.nav-order{font: size 1rem;
            font-weight: 700;}
 
/* box6 */
.nav-card i{
  font-size: 35px;
}
.nav-card {
  font-weight: 700;
  font-size: 14px;
}

/* panel */
 .panel{height: 40px;
        background-color: #222f3d;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-evenly;

        }
  .panel-oops p{display: inline;
                margin-left: 15px; }

  .panel-oops {width: 70%;
               font-size: 0.85rem;}

  .panel-deals{font-weight: 700;
               font-size: 0.9rem; }

  /* hero*/


  .hero{ background-image: url(hero_image.jpg);
         height: 350px;
        background-size: cover;
      display: flex;
      justify-content: center;
    align-items: flex-end;}



 .hero-message{height: 30px;
               background-color: white;
               color: black;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 0.85rem;
               width: 80%;
               margin-bottom: 40px;

            }
            /*shop-section*/
            .shop-section{
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              justify-content: space-evenly;
              align-items: center;
              background-color: #e2e7e6;
              
            }
            .box{height: 488px;
                 width: 23%;
                 margin-top: 15px; 
              background-color: white;
             padding: 20px 0px 15px;
            
            }
            .box-content{
              margin-left: 1rem;
              margin-right: 1rem;
                 }
              .box-image{height: 388px;
                         margin-top: 1rem;
                         margin-bottom:1rem;
                         background-repeat: no-repeat; 
                         background-size: cover;

            }
            .shop-section  p { color: #007185;}

            /*start footer contents*/
            footer{ margin-top: 15px;}

            .footer-panel{height: 49px;
                         background-color: #37475a;
                         color: white;
                         display: flex;
                         justify-content: center;
                         align-items: center;

                         font-size: 0.8rem;
                         }
            .footer-panel a {color: #ffff;}
            
            /*footer panel 2 */
                         

            .footer-panel2{background-color:#222f3d ;
                           height: 450px;
                          color: whitesmoke;
                          display:flex;
                          justify-content: center;
                          justify-content: space-evenly;

                        }

           .footer-panel2 p{color:#ffff;
                            margin-top: 40px;
                            font-weight: 600;
                          font-size: 16px;}

           .ul a{display: block;
                 color: #dddd;
                 margin-top: 10px;
                 font-size: 14;
                              }
                              /*fotter panel 3 */


           .footer-panel3{background-color: #222f3d;
                          height: 68px;
                          border-top: 2px solid white;
                          display: flex;
                          justify-content: center;
                          align-items:center ;
          }

            .logo{background-image: url(amazon_logo.png);
                         background-size: cover;
                         height: 50px;
                         width: 100px;
                         }

            .footer-panel4{height:76px ;
                           background-color: #131A22;
                          /* display: flex;
                           justify-content: center;
                           align-items: center;
                           */
                          
                         }


            .pages a{color: white;
                     margin: 10px;
                    }
                            
            .pages {text-align: center;
                   font-size: 12px;
                  margin-bottom: 10px;
                  padding-top: 20px;
                 }

            .copy-write { color: white;
                          text-align: center;
                          font-size:12px; ;}
            
            
